@font-face {
  font-family: "RubikLight";
  src: url("fonts/Rubik-Light.ttf"); 
}

@font-face {
  font-family: "RubikBold";
  src: url("fonts/Rubik-SemiBold.ttf"); 
}

body {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 133px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  left: 195px;
}

.header-menu__item {
  left: 456px;
  margin: 0 20px;
  vertical-align: top;
  text-decoration: none;

  font-family: RubikLight;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4F5665;
}

.header-authorization {
  display: flex;
  max-width: 1387px;
}

.header-authorization__sign-in {
  text-decoration: none;
  margin-right: 75px;
  font-family: RubikBold;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0B132A;
  padding: 10px;
}

.header-authorization__sign-up {
  text-decoration: none;
  font-family: RubikBold;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0B132A;
  padding: 10px;
}

.header-authorization__sign-up--red {
  padding-right: 45px;
  padding-left: 45px;
  border: 1px solid #F53855;
  box-sizing: border-box;
  border-radius: 50px;
  color: #F53855;
}

.intro {
  width: 100%;
  top: 126px;
  left: 195px;
  display: flex;
  margin: 0 auto;
}

.intro__title {
  width: 555px;
  height: 140px;
  left: 150px;
  top: 206.77px;

  font-family: RubikBold;
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  line-height: 70px;
}

.intro__subtitle {
  width: 555px;
  height: 60px;
  left: 150px;
  top: 366.77px;
  margin-bottom: 50px;
  font-family: RubikLight;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.intro__button {
  border-color: #F53838;
  box-shadow: 0 40px 54px rgba(245, 56, 56, 0.35);
  width: 250px;
  height: 60px;
  left: 150px;
  top: 476.77px;
  background-color: #F53838;
  border-radius: 10px;
  color: white;
  font-family: RubikBold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.feature-statistic {
  width: 100%;
  height: 200px;
  display: flex;
  top: 750px;
  left: 195px;
  margin: 0 auto;
}

.feature-statistic-item {
  margin-top: 100px;
  display: flex;
  width: 339px;
  height: 130px;
  margin-left: 91px;
}

.feature-statistic-item__icon {
  position: relative;
  width: 55px;
  height: 55px;
  top: 35px;
}

.feature-statistic-item-text {
  margin-left: 36.5px;
  margin-top: 35px;
  width: 53px;
  height: 65px;
}
.feature-statistic-item-text__score {
  width: 49px;
  height: 30px;
  left: 332.5px;
  top: 732.05px;

  font-family: RubikBold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.feature-statistic-item-text__name {
  width: 91px;
  height: 30px;
  left: 720px;
  top: 767.05px;

  font-family: RubikLight;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.service-plan {
  width: 100%;
  height: 962;
  left: 175px;
  top: 1000px;
}

.service-plan__title {
  width: 383.41px;
  height: 50px;
  margin-top: 120px;
  margin-left: 400px;
  
  font-family: RubikBold;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
}

.service-plan__subtitle {
  width: 555px;
  height: 60px;
  margin-left: 315px;
  margin-bottom: 72px;

  font-family: RubikLight;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
}

.service-plan-menu {
  width: 1090px;
  height: 760px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.service-plan-menu-item {
  width: 330px;
  height: 760px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;

  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 10px;
}

.service-plan-menu-item__icon {
  margin: 0 auto;
  margin-top: 79px;
}

.service-plan-menu-item__name { 
  max-width: 330px;
  height: 30px;
  margin: 0 auto;
  margin-top: 30px;

  font-family: RubikBold;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

.service-plan-menu-item__list {
  height: 230px;
  margin: 0 auto;
  list-style-image: url(img/check.png);

  font-family: RubikLight;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

.service-plan-menu-item__price {
  margin: 0 auto;
  margin-top: 10px;

  font-family: RubikBold;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}

.service-plan-menu-item__button {
  width: 177.88px;
  height: 45px;
  margin: 0 auto;
  margin-top: 33px;

  font-family: RubikBold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F53838;

  border-color: #F53838;
  border: 2px solid #F53838;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #FFFF;
}

.service-plan-menu-item--red {
  width: 330px;
  height: 760px;
  background: #FFFFFF;
  border: 2px solid #F53838;
  box-sizing: border-box;
  border-radius: 10px;  
}

.service-plan-menu-item__button--red {
  background: #F53838;
  color: #FFFFFF;
}

footer {
  margin-top: 103px;
  height: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__logo {
  margin-bottom: 26px;
}

.footer__conclusion {
  width: 340px;
  height: 61.57px;
  margin-bottom: 30px;

  font-family: RubikLight;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.footer__company-links {
  margin-bottom: 10px;
}

.footer__copyright {
  font-family: RubikLight;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #AFB5C0;
}

.footer__about-product {
  width: 74px;
  height: 280px;
  display: flex;
  flex-direction: column;
}

.footer__about-engage {
  width: 123px;
  height: 280px;
  display: flex;
  flex-direction: column;
}

.footer__earn-money {
  width: 121px;
  height: 280px;
  display: flex;
  flex-direction: column;
}

.footer-menu {
  margin-bottom: 20px;
  font-family: RubikBold;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

.footer-menu__item {
  margin-bottom: 10px;
  text-decoration: none;

  font-family: RubikLight;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}
